:root {
  --index: 1
}

.infection-rate {
  background-image: url('https://x.boardgamearena.net/data/themereleases/current/games/pandemic/210820-1019/img/token_sprites.png');
  background-position: -36px -177px;
  position: absolute;
  left: calc(602px + 34px * var(--index));
  top: 140px;
  height: 32px;
  width: 32px;
}

.animated {
  animation: move-to-the-right 1s cubic-bezier(.22,.61,.36,1);
}

@keyframes move-to-the-right {
  from { transform: translateX(0) }
  to   { transform: translateX(calc(34px * var(--index))) }
}
